<h1>New Contacts</h1>

<% if @contact.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@contact) do |f|  %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="form-group">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<%= f.submit(class: "btn btn-primary") %>
	<% end %>